{% extends 'boards/main.html' %}

{% block content%}

<table border="1">
    <thead>
        <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
        {% for board in boards_list %}
        <tr>
            <td>
                <a href="{% url 'boards:topics' board.id %}">{{ board.name }}</a><br>
                <small style="color: #666;">{{ board.description}}</small>
            </td>
            <td>0</td>
            <td>{{board.topics.count}}</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}