<h1>Topics Page</h1>

{% extends 'boards/main.html' %}

{% block content %}
<h2>Make a topic</h2>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create">
</form>

<table border="1">
    <thead>
        <tr>
            <th><h3>Topics of {{ board.name }}</h3></th>
        </tr>
    </thead>
    <tbody>
    {% for topic in topics %}
    <tr>
        <td>
            <a href="">{{topic.subject}}</a><br>
            <small style="color: #666;">By: {{ topic.starter }}</small><br>
            <small style="color: darkviolet;">at: {{ topic.last_updated }}</small>
        </td>

    </tr>
    {% endfor%}
    </tbody>
</table>

{% endblock %}